<div class="universalclassbody">
<h2> Welcome</h2>
<p> This is the Home Page of Athletes Assemble Gym,</p>
<p> Top of the page you will find the navigation links to the 3 listings: Members, Classes, Bookings</p>
<p> Should you wish to return to this page the gym title above will re-direct you to this page</p>

<h2> Description</h2>
<h3> Members Page</h3>
<p> This page allows you to view the current members recorded on the database, it also gives the controls to view,delete,(de)activate members. At the bottom of the page you will find the ability to create new members, just fill in the fields and click the button.</p>

<p>In the case the records are out of date a update form is available at the bottom of the view page.</p>

<h3> Classes Page</h3>
<p> Here users will find all the classes running in the gym, and the session times which are clickable to view currently booked in members(if any). Users may also delete or (de)activate the class. Again at the bottom of the page is the form to do 2 things, one to create a new gym class and two to append a session timing. </p>
<h3> Bookings Page</h3>
<p> All bookings are ultimately managed here, listing all relavent information related to bookings. Like class name it's timing and the member in tow. option to delete booking is on the right.</p>
<p> again bottom of the page will have a form to create bookings, note a member may not book a session that has no availability nor can they book 2 similar time slots at the same time</p>
<h3> Courtesy </h3>
<p> third party image resources are courtesy of unsplash.com with the following mentions:</p>
<ul>
	<li>https://unsplash.com/photos/VJ2s0c20qCo</li>
	<li>https://unsplash.com/photos/WAYY2WoGb8w</li>
	<li>https://unsplash.com/photos/v6uiP2MD6vs</li>
	<li>apologise last mention goes to top border, lost link ref</li>
</ul>
</div>
