<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<nav>
	<a href="/members/">Members page</a>
	<a href="/gym_classes/">Classes page</a>
</nav>
<h1>Layout</h1>
<%= yield%>
</body>
</html>
