<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<h1 align=center>Layout</h1>
<nav align=center>
	<a href="/members">Members page</a>
	<a href="/gym_classes">Classes page</a>
</nav>

<%= yield%>
</body>
</html>
