body, html{
	width:100%;
	height:100%;
	margin:0;
	background-color:#CCCCCC;
	background-image:url(003.jpg);
	background-position:top;
	background-repeat:no-repeat;
	background-size: 100% 35%;
}

.container{
	width:100%;
	height:100%;
}
.toppane{
	width:100%;
	height:90px;
	border-collapse:collapse;
	background-colour: #4D4F55;
	test-decoration:none;
}
.middlepane{
	width:70%;
	height:75%;
	float:left;
	background-color: white;
	border-collapse:collapse;
	overflow:scroll;
	background-image:url(004.jpg);
	background-position:left top;
	background-size:100% 150%;
	background-repeat:no-repeat;
}
.leftpane{
 	width:15%;
	height:75%;
	float:left;
	background-color:#4D4F55;
	border-collapse:collapse;
	background-image:url(006.jpg);
	background-position:bottom;
	background-size: 160% 120%;
	background-repeat:no-repeat;
}
.rightpane{
	width:15%;
	height:75%;
	float:right;
	background-color:#4D4F55;
	border-collapse:collapse;
	background-image:url(009.jpg);
	background-repeat:no-repeat;
	background-size: 150% 100%;
	background-position:bottom;
}
#layout_heading{
	display:flex;
	justify-content:center;
}
#layout_heading a{
	color:white;
	text-decoration:none;
	font-family:fantasy;
}
#layout_heading a:hover{
	background-color:blue;
}
#layout_heading a:visited{
	color:white;
}
#navigation{
	display:flex;
	justify-content: space-around;
	font-size: x-large;
	background-color: royalblue;
}
#navigation a{
	text-decoration:none;
	font-family:monospace;
}
#navigation a:hover{
	background-color:white;
	text-decoration-color:yellow;
}
#navigation a:visited{
	color:inherit;
}
.pagewindow{
	border: 1px;
}

#members_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}

.member_table_row_contents{
	text-align:center;
}
.member_table_data{
	padding:5px;

}
.gym_class_table_data{
	padding:5px;

}
.gym_class_table_row_contents{
	text-align:center;
}
#gym_class_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}

.centerall{
	display:flex;
	text-align:right;
	justify-content: flex-end;
	text-decoration-color:yellow;
}

#session_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}
.session_table_data{
	padding:5px;

}
.session_table_row_contents{
	text-align:center;
}
.booking_table_data{
	padding:5px;

}
.booking_table_row_contents{
	text-align:center;
}
#booking_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}
