#layout_heading{
	display:flex;
	justify-content:center;
}
#navigation{
	display:flex;
	justify-content: space-around;
}

#members_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}

.member_table_row_contents{
	text-align:center;
}
.member_table_data{
	padding:5px;

}
.gym_class_table_data{
	padding:5px;

}
.gym_class_table_row_contents{
	text-align:center;
}
#gym_class_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}

.centerall{
	display:flex;
	text-align:right;
	justify-content: flex-end;
	text-decoration-color:yellow;
}

#session_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}
.session_table_data{
	padding:5px;

}
.session_table_row_contents{
	text-align:center;
}
.booking_table_data{
	padding:5px;

}
.booking_table_row_contents{
	text-align:center;
}
#booking_index_command_buttons{
	display:inline-flex;
	justify-content:space-around;
	margin: 5px;
	border:0px;
}
